<h1>Questions#ask</h1>
<p>Find me in app/views/ask/answer.html.erb</p>
<h1>What's your question to the coach?</h1>
<form action="/answer" method="get">
  <input type="text" name="user_input">
  <input type="submit" value="Ask!">
</form>
